@charset "utf-8";
/* CSS Document */

html, body{
  margin:0;
  padding:0;
  display: block;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

/* ANIMATION */

@-webkit-keyframes rotate {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@-webkit-keyframes windcatcherSpin {
  from { -webkit-transform: rotateY(0deg) rotateX(-20deg); }
  to { -webkit-transform: rotateY(360deg) rotateX(-20deg); }
}
@keyframes windcatcherSpin {
  from { transform: rotateY(0deg) rotateX(-20deg); }
  to { transform: rotateY(360deg) rotateX(-20deg); }
}

@-webkit-keyframes windcatcherBg {
  0% { background-color: rgb(16, 80, 140); }
  50% { background-color: rgb(16, 40, 70); }
  51% { background-color: rgb(72, 156, 234); }
  70% { background-color: rgb(24, 118, 206); }
  100% { background-color: rgb(16, 80, 140); }
}

@keyframes windcatcherBg {
  0% { background-color: rgb(16, 80, 140); }
  50% { background-color: rgb(16, 40, 70); }
  51% { background-color: rgb(72, 156, 234); }
  70% { background-color: rgb(24, 118, 206); }
  100% { background-color: rgb(16, 80, 140); }
}

.spinner.windcatcher {
  width: 4em;
  perspective: 50em;
  -webkit-animation: rotate 6s linear infinite;
  animation: rotate 6s linear infinite;
}

.spinner.windcatcher .blade {
  height: 0.5em;
  background: #10508c;
  margin-bottom: 0.1em;
  -webkit-animation: windcatcherSpin 4s linear infinite, windcatcherBg 2s linear infinite;
  animation: windcatcherSpin 4s linear infinite, windcatcherBg 2s linear infinite;
}

.spinner.windcatcher .blade:nth-child(1) { -webkit-animation-delay: 0s; animation-delay: 0s; }
.spinner.windcatcher .blade:nth-child(2) { -webkit-animation-delay: 0.25s; animation-delay: 0.25s; }
.spinner.windcatcher .blade:nth-child(3) { -webkit-animation-delay: 0.5s; animation-delay: 0.5s; }
.spinner.windcatcher .blade:nth-child(4) { -webkit-animation-delay: 0.75s; animation-delay: 0.75s; }
.spinner.windcatcher .blade:nth-child(5) { -webkit-animation-delay: 1s; animation-delay: 1s; }
.spinner.windcatcher .blade:nth-child(6) { -webkit-animation-delay: 1.25s; animation-delay: 1.25s; }
.spinner.windcatcher .blade:nth-child(7) { -webkit-animation-delay: 1.5s; animation-delay: 1.5s; }
.spinner.windcatcher .blade:nth-child(8) { -webkit-animation-delay: 1.75s; animation-delay: 1.75s; }

/* SYSTEM */
video::-webkit-media-controls {
  display:none !important;
}
video::-webkit-media-controls-fullscreen-button {
  pointer-events: none;
  opacity: .5;
}
video::-webkit-media-controls-enclosure {
  display:none !important;
}
video::-webkit-media-controls-panel {
  display:none !important;
}
